.content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4, #hero-msg div, .button-box, main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #4f9ee4;
    color:#fcfbfb;
}
#background{
    height: 725px;
    background-color: #dbc180;
}
body{
    background-color: #fcfbfb;
    font-family: Georgia, Arial, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background: rgba(20,30,13,.7);
}
.home-title{
    font-family: cursive, Georgia, Arieal;
    font-size: 2em;
    margin-top: 10px;
}
#hero-msg h4{
    font-family: cursive, Georgia, Arieal;
}
.book{
    background-color: #d1ef39;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #4f9ee4;
}
.join{
    background-color: #fcfbfb;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: #4f9ee4;
    color: #fcfbfb;
}
.rivers-card, .rapids-card, .camping-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;
}
.mountains{
    margin: 100px 0;
}
.msg{
    background-color: rgba(20,30,13,.7);
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: white;
}
.msg p{
    color: white;
    padding-bottom: 15px;
}
footer{
    background: rgba(20,30,13,.7);
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    text-decoration: none;
    color: #fcfbfb;
}
footer a hover{
    color: #4f9ee4;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.logo{
    width: 80px;
}
#logo-link{
    padding-top: 5px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
