.photos{
    display: inline-block;
    max-width: 20%;
    border: 10px solid rgb(84, 81, 81);
    border-radius: 50%;
    margin: 4%;
}
div{
    background-color: grey;
    margin: 0 auto;
    text-align: center;
}
body{
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}
body img{
    width: 100%;
}