header{
    display: grid;
    grid-template-columns: 350px auto;
}
.logoref{
    font-size: 0;
}
#logo{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b00c00;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: #FF9C00;
    color:black;
}
body{
    background-color: #F8FCFF;
}
h2{
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 50px;
}
p{
    margin:50px;
    margin-left:50px;
}
.alg{
    font-size: 50px;
    font-weight: bold;
}
img:not(#logo){
    margin-left:150px;
}