body{
    margin:0
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    /* this adds 10 pixes of padding on each side of the element targeted */
}
footer p{
    font-size: 20px;
    margin: 20px auto;
}
a:hover{
    background-color: white;
    color: steelblue;
}
img{
    width: 80%;
}